/node_modules/
*/node_modules/
/client/node_modules/
/client/coverage

# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies

# testing

# production
/client//build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
